# --- 自定义 ---
.fail_test
.recycle_bin
*.pdf
*.xlsx
*.csv

# --- 保留项 ---
!preprocessing/raw/filelist.txt

# --- 通用排除项 ---
.env
venv/
.venv/
env/
__pycache__/
*.pyc
.idea/
build/
dist/
*.egg-info/
*.spec