# --- 自定义 ---
.temp
.fail_test
.recycle_bin
*.pdf
*.xlsx
*.csv
*.md
*.json
*.log

# --- 保留项 ---
!preprocessing/raw/filelist.txt
!docs/*


# --- 通用排除项 ---
.env
venv/
.venv/
env/
__pycache__/
*.pyc
.idea/
build/
dist/
*.egg-info/
*.spec